body {
    /* font-family: 'Lato', sans-serif; */
    font-family: "Smooch Sans", sans-serif;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #363d57;
    font-size: 16px;
}

.container {
    width: 60vw;
    background-color: #fff;
    border-radius: 10px;
}

.container h3 {
    text-align: center;
}

.rate {
    /* padding-left: 1rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 10px;
    border-bottom: 1px dotted black;
}
#tableNumber {
    color: red;
    font-weight: normal;
    font-family: "Lato", sans-serif;
    font-size: 0.9rem;
}
